:root {
    --h1: 3.6rem;
    --h2: 2.4rem;
    --font-family:'Bebas Neue', cursive;
    --secondFamily: 'Lato', sans-serif;
    /* --fontSize-icon: ; */
    --box-shadow: 25px 25px 49px #bebec2,
    -25px -25px 49px #ffffff;
    --background-BoxShadow:#F0F1F5;
    --text-color: #1b1b1b;
    /* --hover-shadow: ;
 */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--background-BoxShadow);
    height: 100vh;
}


/* HEADER SECTION */

.header {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
}

.header h1{
    font-family: var(--font-family);
    font-size: var(--h1);
    font-weight: bold;
    margin: 1.7rem 0 0 0;
}

h2 {
    font-family: var(--secondFamily);
    font-size: var(--h2);

}

.header__image--container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    background-image: url('../assets/img/trapboss.png');
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
}

.verfication__section{
    display: flex;
    width: 200px;
    justify-content: center;
}

 .image {
    position: relative;
    top: 2.7rem;
    left: 0.8rem;
    width: 2.6rem;
    height: 2.6rem;
}

/* BUTTONS SECTION */
.button__container {
    width: 100%;
    height: auto;
    
}

